__history
*.dll
*.obj


Thumbs.db

*.obj
*.exe
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
obj/
*.dcu
Components/Evals/Debug_Build/Eval.#00
*.~*
*.#*
MaxMathInformation/
*.tds
Debug_Build/
extraidos/
