CLOSEHAND CURSOR "Cursor_1.cur"

LABEL CURSOR "Cursor_2.cur"

MIRA CURSOR "Cursor_3.cur"

OPENHAND CURSOR "Cursor_4.cur"

PUNTERO CURSOR "Cursor_5.cur"

PUNTERO2 CURSOR "Cursor_6.cur"

SELECT CURSOR "Cursor_7.cur"

SELECTHAND CURSOR "Cursor_8.cur"

ZOOMMAS CURSOR "Cursor_9.cur"

ZOOMMENOS CURSOR "Cursor_10.cur"

